#cerrarSesion{
    position: absolute;
    right: 0;

}

#cerrarSesion:hover{
    background: red !important;
    color: white !important;
}

#contenedorLogin{
    position: absolute;
    width: 50%;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    transform: translate(-50%, -50%);
    top: 46%;
    left: 50%;
}