<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

<script src="/public/cronometro.js"></script>
<div class="w3-card-4">
    <div class="" style="background:{{colorCategoria}}">
        <h2>{{pregunta.texto}}</h2>
    </div>
    <div class="timer-container">
        <span id="timer">20</span>
        <div class="time-bar">
            <div class="time-bar-fill" id="time-bar-fill"></div>
        </div>
    </div>
    <div class="w3-container">
        <form action="/index.php" method="post">
            <ul>
                {{#respuestas}}
                    <li>
                        <input type="radio" id="respuesta{{_id}}" name="respuestaId" value="{{_id}}">
                        <label for="respuesta{{_id}}">{{texto}}</label>
                    </li>
                {{/respuestas}}
            </ul>
            <input type="hidden" id="pregunta-id" name="preguntaId" value="{{pregunta._id}}">
            <input type="hidden" name="controller" value="Game">
            <input type="hidden" name="action" value="postAnswer">
            <input type="submit" value="Enviar respuesta">
        </form>
    </div>
    <div>PUNTAJE: {{puntos}}</div>
</div>
<div class="modal fade" id="timeUpModal" tabindex="-1" aria-labelledby="timeUpModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="timeUpModalLabel">Tiempo agotado</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>El tiempo se ha agotado.</p>
            </div>
            <div class="modal-footer">
                <form action="/index.php" method="post">
                    <input type="hidden" name="controller" value="Game">
                    <input type="hidden" name="action" value="timeUp">
                    <button id="acceptButton" type="submit" class="btn btn-primary">Aceptar</button>
                </form>
            </div>
        </div>
    </div>
</div>
