<h1 class="w3-center">Hola, {{username}}!</h1>
<p class="w3-center">Te deseamos una gran experiencia.</p>

{{#puntaje}}
    <p class="w3-center">Tu puntaje final es: {{puntaje}}</p>
    <p class="w3-center">Ya no tienes preguntas por responder o ya has completado las preguntas.</p>
{{/puntaje}}
{{^puntaje}}
    <a href="/index.php?controller=Game&action=startGame"><button>Jugar Partida</button></a>
{{/puntaje}}
