<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">

<div class="container">
    <div class="row">
        <!-- Columna de ranking -->
        <div class="col d-flex flex-column align-items-center justify-content-center">
            <h2>Ranking</h2>
            <a href="/Ranking/getRanking" class="btn btn-primary">Ver Ranking</a>
        </div>

        <!-- Columna de jugar partida -->
        <div class="col d-flex flex-column align-items-center justify-content-center">
            <h1 class="w3-center">Hola, {{username}}!</h1>
            <p class="text-center">Puntaje máximo: {{maxScore}}</p>
            <a href="/Game/startGame" class="btn btn-primary">Jugar Partida</a>
            <a href="/Preguntas/getCrearPregunta" class="btn btn-secondary mt-3">Crear Pregunta</a>
        </div>

        <!-- Columna de partidas del usuario -->
        <div class="col d-flex flex-column align-items-center justify-content-center">
            <h2>Mis partidas</h2>
            <a href="/Partidas/getPartidas" class="btn btn-primary">Mis Partidas</a>
        </div>
    </div>
</div>



<!-- Scripts de Bootstrap y jQuery -->
<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>



