<div class="w3-container w3-card-4 w3-light-grey w3-text-black w3-margin">
    <h2 class="w3-center">Perfil de Usuario</h2>
    {{#user}}
    <div class="w3-section">
        <label for="username"><b>Usuario</b></label>
        <p id="username">{{username}}</p>
        <label for="email"><b>Email</b></label>
        <p id="email">{{email}}</p>
        <label for="name"><b>Nombre</b></label>
        <p id="name">{{name}}</p>
        <label for="surname"><b>Apellidos</b></label>
        <p id="surname">{{surname}}</p>
    </div>
    {{/user}}
</div>