<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">

<div class="container">
    <div class="row">
        <!-- Columna de ranking -->
        <div class="col">
            <h2 class="text-center">Ranking</h2>
            <table class="table table-striped">
                <thead>
                <tr>
                    <th scope="col" class="text-center">Usuario</th>
                    <th scope="col" class="text-center">Puntaje Máximo</th>
                </tr>
                </thead>
                <tbody>
                {{#topUsers}}
                    <tr>
                        <td class="text-center">{{USERNAME}}</td>
                        <td class="text-center">{{TOTAL_SCORE}}</td>
                    </tr>
                {{/topUsers}}
                </tbody>
            </table>
            <div class="text-center">
                <a href="/Home" class="btn btn-primary">Volver a Inicio</a>
            </div>
        </div>
    </div>
</div>


<!-- Scripts de Bootstrap y jQuery -->
<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>