<div class="w3-container w3-card-4 w3-light-grey w3-text-black w3-margin">
    <h2 class="w3-center">Registro exitoso</h2>
    <p class="w3-center">¡Felicidades! Te has registrado con éxito. Ahora puedes validar tu correo electrónico.</p>
    <div class="w3-section">
        <button class="w3-button w3-block w3-red w3-section w3-padding" type="button" onclick="window.location.href='/Users/getLogin'">Iniciar sesión</button>
    </div>
</div>
