<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">


<div class="container mt-5">
    <h1 class="text-center mb-4">Estadísticas de Usuarios Nuevos</h1>

    <div class="card mb-4">
        <div class="card-header bg-primary text-white">
            Total de Usuarios Nuevos
        </div>
        <div class="card-body">
            <p class="lead">En el período seleccionado, se registraron {{cantidadUsuariosNuevos}} usuarios nuevos.</p>
        </div>
    </div>

    <a href="/lobby" class="btn btn-secondary m-3">Volver al lobby</a>
    <a href="/Users/exportarUsuariosNuevos" class="btn btn-primary m-1">
        <i class="fa-solid fa-file-arrow-down"></i> Exportar PDF
    </a>
</div>

<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

